/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Website,
.About,
.Resume .Dev {
  overflow-x: hidden;
}

/* Website Styles */

.Website {
  min-height: 100vh;
  width: 100%;
  padding: 10vh 15vw 10vh 15vw;
}

.Website .head {
  display: flex;
  flex-direction: column;
}

.Website .head .main {
  font-size: 50px;
}

.Website .content .bar {
  width: 100%;
  height: 50px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  text-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Website .content .bar * {
  color: var(--black);
}

.font {
  z-index: 1;
  padding: 20px 40px 20px 40px;
  margin: 30px 0 30px 0;
}

.font p.main {
  font-size: 40px;
  text-wrap: nowrap;
}

.font .display {
  margin-top: 20px;
}

.font .display * {
  margin: 10px 0 10px 0;
}

.squares {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.squares .square .color {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  transition: transform 0.1s ease;
}

.squares .square .color:hover {
  transform: rotate(5deg) scale(1.1);
  cursor: pointer;
}

.squares .square {
  width: 120px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squares .label {
  margin-top: 10px;
}

.squares .label_secondary {
  color: var(--beige-active);
}

.copied #text {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  margin-top: 20px;
}

.Website .icons {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Website .icons .row {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Website .icons .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.Website .icons .row .icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.Website .icons .row * {
  font-family: "Raleway", sans-serif !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 0px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}

/* Design Page Styles */

.Design {
  width: 100%;
}

.Design .jumbo {
  scroll-snap-align: end;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Design .heading {
    position: relative;
    height: 100px;
    width: 100%;
}

.Design .main h1.outline {
  color: var(--blue);
  -webkit-text-stroke: 1px var(--blue);
  position: absolute;
  z-index: 2;
}

.Design .main h1.fill {
    transform: translateY(-50px);
    z-index: 1;
}

.Design .main h1.fancy {
  font-size: 75px;
  position: absolute;
}

.Design .prompt {
  color: var(--blue);
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.Design .prompt #icon {
  margin-left: 7px;
  fill: var(--blue);
}

.Design .main {
  margin: 10vh 0 10vh 0;
}

.Design .portfolio-wrapper {
  background-color: var(--beige);
  width: 100%;
  height: 100vh;
}

.Design .image-wrapper {
  overflow-x: hidden;
  scroll-snap-align: end;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Design .image-wrapper .head {
  position: absolute;
  padding: 0 5vw 0 5vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Design .image-wrapper .head * {
  z-index: 10;
}

/* Responsive styles */

@media only screen and (max-width: 960px) {
  .Design .main {
    padding: 0 10vw 0 10vw;
  }

  .Design .main h1.fancy {
    font-size: 50px;
  }

  .Design .image-wrapper .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    flex-direction: column;
  }

  .Design .image-wrapper .head .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .Design .image-wrapper .head h1 {
    font-size: 30px;
  }

  .Design .image-wrapper {
    flex-direction: column-reverse;
  }

  .Design .image-wrapper img {
    height: 50vh !important;
  }
}

@media only screen and (max-width: 500px) {
  .Design .image-wrapper .head h1, .Design .image-wrapper .head .colors h1 {
    font-size: 24px;
  }
  .Design .main h1.fancy {
    font-size: 30px;
    position: relative;
  }

  .Design .main h1.fill {
    transform: translateY(0px);
    z-index: 1;
}
}

/* Development Page */

.Dev {
  padding: 10vh 15vw 10vh 15vw;
  width: 100%;
  min-height: 100vh;
}

.Dev .projects .container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.Dev .projects .year {
  margin-top: 50px;
}

.Dev .Project {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  transition: transform 0.15s ease;
  margin-bottom: 25px;
  margin-right: 25px;
}

.Dev .Project:hover {
    transform: scale(1.1);
}

.Dev .Project .content {
  padding: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
}

.Dev .Project * {
  font-family: "Raleway";
}

.Dev .Project .picture {
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.Dev .Project .icon {
    color: var(--blue);
    fill: var(--blue);
    font-size: 30px;
    z-index: 2;
    transition: all 0.2s ease;
}

.Dev .Project .icon:hover {
    fill: var(--beige);
    transform: translateX(-5px);
}

.Dev .Project .icons {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    z-index: -1;
    transform: translateX(-20px) translateY(20px);
    padding: 20px;
}

/* Dev Responsive Styles */

@media only screen and (max-width: 580px) {
  .Dev h1.fancy {
    font-size: 20px;
  }
}


/* Resume Styles */

.Resume {
  padding: 10vh 15vw 10vh 15vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Resume .main {
  text-align: center;
}

.Resume .content {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 0 10vw;
}

.Resume .content * {
  font-family: "Raleway", sans-serif;
}

.Resume h1 {
  font-size: 40px;
  font-weight: 800;
}

.Resume .button {
  margin-top: 20px;
}

.Resume .download {
  border: 2px solid var(--blue);
  border-radius: 100px;
  padding: 5px 13px 5px 13px;
  width: max-content;
}

.Resume section {
  margin: 20px 0 20px 0;
}

.Resume section h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.Resume .experience {
  margin-left: 30px;
  margin-bottom: 30px;
}

.Resume .experience ul {
  margin-top: 10px;
  margin-left: 30px;
}

.Resume .experience .title {
  font-size: 20px;
  font-weight: 700;
}

.Resume .experience .date {
  color: var(--beige-active);
}

@media only screen and (max-width: 600px) {
  .Resume img {
    width: 80vw;
    height: auto;
  }
}

/* About Styles */

.About {
  padding: 10vh 15vw 10vh 15vw;
}

.About h1.main {
  font-size: 40px;
  text-align: center;
}

.About p.main {
  text-align: center;
}

.About p.body {
  font-size: 20px;
  margin-bottom: 20px;
}

.About .content {
  padding: 0 10vw 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.About .content .image {
  height: 50vh;
  width: 50%;
}

.About .content .image-container {
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  height: 50vh;
}

.About .content img {
  height: 50vh;
}

.About .content .text {
  width: 50%;
}

.About .icons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.About .icon {
    font-size: 25px;
    margin: 5px;
    transition: all 0.2s ease;
}

.About .instagram:hover {
    fill: #fbad50;
}

.About .github:hover{
    fill: 	#dcacf2;
}

.About .linkedin:hover {
    fill: #0077B5;
}

@media only screen and (max-width: 1521px) {
  .About .content {
    padding: 0;
  }
}

@media only screen and (max-width: 1061px) {
  .About .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .About .content .text {
    margin-top: 25px;
    width: 100%;
  }

  .About .content .image {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .About .icons {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .Website .head .main {
    font-size: 30px;
  }

  .Website .content .bar {
    height: 30px;
  }

  .Website .content .bar h1 {
    font-size: 20px;
  }

  .font p.main {
    font-size: 30px;
    text-wrap: nowrap;
  }

  .font .display {
    margin-top: 20px;
  }

  .font .display h1 {
    font-size: 25px;
  }

  .font .display h2 {
    font-size: 20px;
  }

  .font .display p {
    font-size: 15px;
  }

  .squares {
    flex-wrap: wrap;
    align-items: center;
  }

  .squares .square .color {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.1s ease;
  }
}

/* Global Responsive Styling */

@media only screen and (max-width: 600px) {
  .About,
  .Resume,
  .Website {
    padding: 10vh 5vw 10vh 5vw;
  }
}
