/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page Styles */

.Landing {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  padding: 10vh 15vw 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing .head {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Landing .head .image {
  background-image: url(/public/img/me.jpeg);
  background-size: 120%;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.Landing .head h1 {
  color: var(--blue);
  font-size: 40px;
}

.Landing .links {
  width: 100%;
}

.Landing .footer {
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .Landing {
    padding: 10vh 5vw 10vh 5vw;
  }
}

/* Development Page Styles */

.test {
  overflow-x: hidden;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100vh;
}

.test .content {
  position: absolute;
  transform: translateY(-100vh);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 20;
}
