/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Landing Page Styles */

.Landing {
    min-height: 100vh;
    width: 100%;
    padding: 10vh 15vw 10vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Landing .head {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Landing .head .image {
    background-color: var(--lapis);
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.Landing .head h1 {
    color: var(--blue);
    font-size: 40px;
}

.Landing .links {
    width: 100%;
}

.Landing .footer {
    margin-top: 30px;
}

/* Navigation Styles */

.Navigation {
    margin-top: 50px;
    width: 100%;
    height: 10vh;
}

.Navigation ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Navigation ul li {
    cursor: pointer;
    color: var(--beige);
    background-color: var(--black);
    padding: 5px 20px 5px 20px;
    border: 2px solid var(--beige);
}

.Navigation ul li:hover {
    color:var(--black); 
    background-color: var(--beige); 
}

/* MainLink Styles */

.MainLink {
    margin: 5vh 0 5vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.MainLink .text * {
    font-size: 100px;
    transition: transform 0.1s ease;
}

.MainLink #titleStroke {
    color: var(--black);
    -webkit-text-stroke: 1px var(--blue);
    text-stroke: 1px var(--blue);
}

.MainLink #titleFill {
    color: var(--beige);
    position: absolute;
    transform: translateX(50px) translateY(50px);
}

.MainLink .description {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-top: 50px;
}

.MainLink p {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* Global Responsive Stlyes */

@media only screen and (max-width: 880px) {
    .MainLink .text * {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .Landing {
        padding: 10vh 5vw 10vh 5vw;
    }
}
