/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Sake';
    src: url('./add-ons/sake_moru.ttf');
}

/* Root Settings */

html {
    scroll-snap-type: y mandatory;
}

:root {
    --beige: #EFEFD0;
    --beige-active: #b0b09b;
    --orange: #FF6B35;
    --peach: #F7C59F;
    --lapis: #1A659E;
    --blue: #1482d6;
    --black: #05050f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    color: var(--beige);
}

h1, h2, h3, p {
    color: var(--beige);
}

body {
    background-color: var(--black);
}

.fancy {
    font-family: 'Sake';
}

.link {
    text-decoration: none;
}

.link-default {
    color: var(--blue);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--beige);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--beige-active);
  }